@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url(https://use.typekit.net/vlo8kbg.css);

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #f7f7f7 24%, #d3faff 92%);
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position:absolute;
  font-size: 30px;
  font-family: 'lato', sans-serif;
  color: #fff5f5;
  left: 80px;
  bottom: 30px;
  z-index: 4;
}

h1 {
  font-size: 45px;
  font-family: 'shantell-sans-informalbouncy', sans-serif;
  color: #000;
  margin-bottom: 120px;
  text-align: center;
  padding-left: 550px;
  padding-right: 550px;
  line-height: 50px;
}

.music-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(252, 169, 169, 0.6);
  display: flex;
  align-items: center;
  padding: 20px 30px;
  position: relative;
  transform: scale(1);
  margin-bottom: 250px;
}

.img-container {
  width: 110px;
  position: relative;
}

.img-container img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: #fff;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.progress {
  background: #fe8daa;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: #fff;
  border: none;
  color: #dfdbdf;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 30px;
  color: #cdc2d0;
}

.assets {
  position: absolute;
  transform: scale(0.48);
  right: 680px;
  z-index: 2;
  filter: drop-shadow(-50px 0 0 rgb(255, 141, 198)) 
}

.assetstwo {
  position: absolute;
  transform: scale(0.48);
  right: 780px;
  z-index: 1;
}

.assetsthree {
  position: absolute;
  left: 840px;
  transform: scale(0.68);
  z-index: 2;
  filter: drop-shadow(-50px 0 0 rgb(255, 141, 198)) 
}

.assetsfour {
  position: absolute;
  top: 1280px;
  right: 460px;
  transform: scale(0.6);
  z-index: 1;
}

.rectangle {
    position:absolute;
    width: 2500px;         
    height: 100px; 
    bottom: 0px;
    left: 0px;
    background-color: rgb(232, 88, 150);
    z-index: 3;
}