@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url(https://use.typekit.net/vlo8kbg.css);

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #f7f7f7 24%, #f6feff 92%);
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position:absolute;
  font-size: 100px;
  font-family: 'lato', sans-serif;
  color: #fff5f5;
  left: 140px;
  bottom: 120px;
  z-index: 4;
}

h1 {
  font-size: 50px;
  font-family: 'shantell-sans-informalbouncy', sans-serif;
  color: #000;
  margin-bottom: 900px;
  text-align: center;
  padding-left: 3050px;
  padding-right: 3050px;
  line-height: 53px;
  transform: scale(4)
}

.music-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(252, 169, 169, 0.6);
  display: flex;
  align-items: center;
  padding: 20px 30px;
  position: relative;
  transform: scale(4)
}

.img-container {
  width: 110px;
  position: relative;
}

.img-container img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: #fff;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.progress {
  background: #fe8daa;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: #fff;
  border: none;
  color: #dfdbdf;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 30px;
  color: #cdc2d0;
}

.assets {
  position: absolute;
  top: 800px;
  left: 380px;
  transform: scale(1.8);
  z-index: 2;
}

.assetstwo {
  position: absolute;
  top: 880px;
  left: 300px;
  transform: scale(1.8);
  z-index: 1;
}

.assetsthree {
  position: absolute;
  top: 1200px;
  right: 380px;
  transform: scale(2.5);
  z-index: 2;
}

.assetsfour {
  position: absolute;
  top: 1280px;
  right: 460px;
  transform: scale(2.5);
  z-index: 1;
}

.rectangle {
    position:absolute;
    width: 1920px;         
    height: 160px; 
    bottom: 0px;
    background-color: rgb(232, 88, 150);
    transform: scale(4);
    z-index: 3;
}